# MACE frozen-baseline prediction environment
# Tested with Python 3.11.
ace==0.3.3
aioitertools==0.12.0
annotated-types==0.7.0
ase==3.25.0
attrs==24.3.0
bcrypt==4.2.1
boto3==1.35.91
botocore==1.35.91
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
ConfigArgParse==1.7
contourpy==1.3.1
cryptography==44.0.0
cuequivariance==0.1.0
cuequivariance-torch==0.1.0
cycler==0.12.1
dnspython==2.7.0
e3nn==0.4.4
emmet-core==0.84.6rc2
filelock==3.13.1
fonttools==4.55.3
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.43
h5py==3.12.1
idna==3.10
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
latexcodec==3.0.0
lightning-utilities==0.11.9
lmdb @ file:///croot/python-lmdb_1736540601428/work
mace-torch==0.3.16
maggma==0.71.1
MarkupSafe==2.1.5
matplotlib==3.10.0
matscipy==1.1.1
mongomock==4.3.0
monty==2025.3.3
mp-api==0.45.3
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2.1
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
orjson==3.10.13
packaging==26.0
palettable==3.3.3
pandas==2.2.3
paramiko==3.5.0
pillow==10.2.0
plotly==5.24.1
prettytable==3.12.0
pybtex==0.24.0
pycparser==2.22
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydash==8.0.4
pymatgen==2025.2.18
pymongo==4.10.1
PyNaCl==1.5.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-hostlist==2.2.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
ruamel.yaml==0.18.8
ruamel.yaml.clib==0.2.12
s3transfer==0.10.4
scikit-learn==1.6.1
scipy==1.14.1
sentinels==1.0.0
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
spglib==2.5.0
sshtunnel==0.4.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.6.0
torch==2.5.1+cu118
torch-ema==0.3
torchaudio==2.5.1+cu118
torchmetrics==1.6.1
torchvision==0.20.1+cu118
tqdm==4.67.1
triton==3.1.0
typing_extensions==4.12.2
tzdata==2024.2
uncertainties==3.2.2
urllib3==2.3.0
wcwidth==0.2.13
wrapt==1.17.0

